<component name="libraryTable">
  <library name="Spring Integration-3.0.0" type="spring-integration">
    <properties version="3.0.0" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-gemfire-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-feed-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-groovy-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-event-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ftp-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-file-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-amqp-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ip-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-http-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jdbc-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mail-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jms-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jmx-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jpa-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mongodb-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-scripting-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-security-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-stream-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-redis-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-sftp-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-syslog-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-rmi-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-test-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-twitter-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xml-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-core-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ws-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xmpp-3.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>